@media screen and (max-width: 1000px) {

	.wrapper-1000 {

		width: 100%;
	}
}

@media screen and (max-width: 970px) {

	table.person-table input {

		width:150px;
	}

	table.person-table tr td:first-child {

		font-size: .75em;
	}
}

@media screen and (max-width: 920px) {

	.bot-header-index {

		height: 250px;
	}

	.title-bh {
		
		font-size: 3.5em;
	}

	.head-content {

		margin-top: 50px;
	}
}

@media screen and (max-width: 750px) {

	table.person-table input {

		width:100px;
	}

	table.person-table tr td:first-child {

		padding-right: 0;
	}

	.s-uf-2 {

		width: auto;
		font-size: .75em;
	}
}

@media screen and (max-width: 720px) {

	.bot-header-index {
		
		height: 200px;
	}

	.title-bh {

		font-size: 2.5em;
	}
}

@media screen and (max-width: 685px) {

	form.photo-block {
		
		text-align: center;
		display: block;
		margin: 0 auto 10px auto;
	}

	.photo-b {

		display: block;
		margin: 0 auto;
	}
	
}

@media screen and (max-width: 570px) {
	
	.bot-header-index {

		height: 250px;
	}

	.title-bh {

		font-size: 3em;
	}

	.head-content {

		margin-top: 80px;
	}

}

@media screen and (max-width: 480px) {

	.head-content {

		margin-top: 50px;
	}
}

@media screen and (max-width: 500px) {

	.logo-h {

		display: none;
	}

	form.user-form {
		
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	table.person-table {

		display: inline-block;
	}

	table.a {

		margin-left: -60px;
	}

	table.b {

		margin-left: -110px;
	}

		table.b tr td:last-child {

			text-align: left;
		}

	.s-uf-2 {

		font-size: .55em;
		padding: 10px 3px;
	}
}