{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
	<meta charset="UTF-8">
	<title>main</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles_index.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/presets.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jscrollpane.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/media_queries_index.css">
    <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}projekktor-1.3.09.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}projekktor.style.css" type="text/css" media="screen" />
       <script src="{{ STATIC_URL }}flowplayer-3.2.6.min.js"></script>
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png" type="image/png">
{% endblock %}
<body>

{% block header %}
		<header>
			<div class="top-header">
				<a href="#main">

                <i style="
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;padding-left:250px;


">По всем техническим вопросам пишите на почту ponyaid@gmail.com</i>
				</a>
				<div class="propagation">
							<p class="user-name-h">{{ user_fullname }}</p>
							<i class="user-h non-active-h"></i>
				</div>
			</div>
			<div class="bot-header-index">
				<ul class="drop-down">
					<li>
						<a href="{% url 'index' %}">Личный Кабинет</a>
					</li>
					<li>
						<a href="{% url 'profile_settings' %}">Настройка Профиля</a>
					</li>
					<li>
						<a href="{% url 'logout' %}">Выйти</a>
					</li>
				</ul>
				<div class="head-content">
					<div class="title-bh">Облако Свидетелей</div>
					<div class="tr-bh"></div>
				</div>
			</div>
		</header>
{% endblock %}
{% block content %}
		<div class="videos">
		<div class="right-bar">
				<div class="casting">
					<div class="header-cast">Приватный эфир</div>
					<!--<form action="post.php" method="post" class="pass-cast">
						<input type="password" placeholder="Пароль" class="inp-cast">
						<div class="button cast">Войти</div>
					</form>-->
                   <a href="{% url 'private' %}"><div class="button cast">Войти</div></a>
				</div>
				<div class="lessons">
					<div class="header-l">
						Видео уроки
					</div>
					<div class="block-l scroll-pane">
						<table cellspacing="0" class="table" id="playlist">
                            {% for task in tasks %}
							<tr>
								<td>
									<p><a href="http://clw.com.ua/video/{{ task.pk }} ">{{ task.title | truncatechars:25 }}</a></p>
									<p class="active-drop">{{ task.description | truncatechars:40 }}</p>
								</td>
								<td>{{ task.video.upload_date }}</td>
							</tr>
                            {% endfor %}
						</table>
					</div>
				</div>
			</div>
			<div class="video-block">
				<div class="videos-container">
					<!--<video id="privatePlayer" controls="controls">
						 <source src="http://clw.com.ua/your_uploads/multiuploader_file/{{ tasks.0.video.id }}/" type="video/mp4">
					</video>-->
                    <a href="http://clw.com.ua/your_uploads/multiuploader_file/{{ tasks.0.video.id }}/"
					   style="display:block;width:640px;height:380px;"
					   id="player">
					</a>
                <!--    <video id="player_a" class="projekktor" title="this is projekktor" width="640" height="360" controls>
						<source src="http://clw.com.ua/your_uploads/multiuploader_file/{{ tasks.0.video.id }}/" type="video/ogg" />
						<source src="http://clw.com.ua/your_uploads/multiuploader_file/{{ tasks.0.video.id }}/" type="video/mp4" />
					</video>-->
                  <!--  <video id="example_video_1" class="video-js vjs-default-skin"
					  controls preload="auto" width="640" height="480"
					  data-setup='{"example_option":true}'>
					 <source src="http://clw.com.ua/your_uploads/multiuploader_file/{{ tasks.0.video.id }}/" type="video/mp4" />
                        <source src="http://clw.com.ua/your_uploads/multiuploader_file/{{ tasks.0.video.id }}/" type="video/webm" />
					<!-- <source src="rtmp://stream.smcloud.net/live2/best/best_720p" type='video/webm' />
					 <source src="rtmp://stream.smcloud.net/live2/best/best_720p" type='video/ogg' />-->
				<!--	 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video> -->
				</div>
			</div>
         <p>Приветствую тебя, дорогой свидетель!</p>
                             <p style="width:640px;text-align: justify;">

 В течение 10 дней тебе нужно смотреть видео урок №1. Когда ты просматриваешь этот урок, тебе нужно молиться и размышлять над ним.  И когда ты будешь пребывать в этом молитвенном состоянии,  то прослушивай урок 2-3 раза.

         </p>
		</div>
		<div class="test-task">
			<div class="header-t">Текстовое задание</div>
			<div class="bodies">
				<div class="body-t">
					<div class="date-t">{{ tasks.0.video.upload_date }}</div>
					<div class="article-t">
						<p class="header-a">{{ tasks.0.title }}</p>
						<div class="body-a">
							<div class="pic-a" style="background-color: #fff;width:210px;height: 280px;"><img style="width:200px; height: 280px;" src="{{ MEDIA_URL }}{{ tasks.0.image }}" /></div>
							<div class="text-a">{{ tasks.0.description }}</div>
					</div>
					<div class="more-t">Читать далее</div>
				</div>
				<div class="body-t">
					<div class="date-t">{{ tasks.0.video.upload_date }}</div>
					<div class="article-t">
						<p class="header-a">{{ tasks.0.title }}</p>
						<div class="body-a">
							<div class="pic-a" style="background-color: #fff;width:210px;height: 280px;"><img style="width:200px; height: 280px;" src="{{ MEDIA_URL }}{{ tasks.0.image }}" /> </div>
							<div class="text-a">{{ tasks.0.description }}</div>
						</div>
					</div>
					<div class="more-t">Читать далее</div>
				</div>
			</div>
		</div>
		<div class="call-back">
			<p class="header-c">Здесь Вы можете оставить свою нужду, благодарность или свидетельство</p>
			<div class="body-c">
				<textarea name="" id="" placeholder="Введите сюда текст..." class="textarea-c"></textarea>
				<form action="post.php" method="post" class="form-c">
					<div class="checkboxes-c">
						<div class="inp-wrap-cs">
							<input id="lessons-r" type="radio" name="#">
							<label for="lessons-r">Вопрос по урокам</label>
						</div>
						<div class="inp-wrap-cs">
							<input id="need-r" type="radio" name="#">
							<label for="need-r">Нужда</label>
						</div>
						<div class="inp-wrap-cs">
							<input id="thanks-r" type="radio" name="#">
							<label for="thanks-r">Благодарность</label>
						</div>
						<div class="inp-wrap-cs">
							<input id="wit-r" type="radio" name="#">
							<label for="wit-r">Свидетельство</label>
						</div>
						<div class="button b-cb">Отправить</div>
					</div>
				</form>
			</div>
		</div>
		<div class="contacts margin-top-10px">
			<p class="info-c">Подробную информацию об облаке свидетелей вы можете узнать по телефонам</p>
			<div class="p-numbers">
				<div class="number-c">
					<div class="icon-p"></div>
					+38 (097) 883-95-21

				</div>
				<div class="number-c">
					<div class="icon-p"></div>
					+38 (097) 883-82-60
				</div>
				<div class="number-c">
					<div class="icon-p"></div>
                    +38 (097) 883-82-65

				</div>
				<div class="number-c">
					<div class="icon-p"></div>
					+38 (096) 881-06-17

				</div>
				<div class="number-c">
					<div class="icon-p"></div>
					+38 (096) 202-75-79

				</div>
			</div>
			<p class="info-c">Или отправив нам сообщение по e-mail</p>
			<p class="mail">4izmerenie.sammit2015@gmail.com</p>
		</div>
{% endblock %}
{% block footer %}
    <div class="footer">copyright &copy 1998-2013 test.org.ua. Все права защищены</div>
{% endblock %}
{% block additional %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://api.html5media.info/1.1.6/html5media.min.js"></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.jscrollpane.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    <script src="//vjs.zencdn.net/4.12/video.js"></script>
		<script type="text/javascript">

     (function ($) {
         $.support.placeholder = ('placeholder' in document.createElement('input'));
     })(jQuery);


     //fix for IE7 and IE8
     $(function () {
         if (!$.support.placeholder) {
             $("[placeholder]").focus(function () {
                 if ($(this).val() == $(this).attr("placeholder")) $(this).val("");
             }).blur(function () {
                 if ($(this).val() == "") $(this).val($(this).attr("placeholder"));
             }).blur();

             $("[placeholder]").parents("form").submit(function () {
                 $(this).find('[placeholder]').each(function() {
                     if ($(this).val() == $(this).attr("placeholder")) {
                         $(this).val("");
                     }
                 });
             });
         }
     });
 </script>	
<script type="text/javascript">

$(function()
{
	$('.scroll-pane').jScrollPane();
});
     $(document).ready(function() {
    projekktor('#player_a', {
	volume: 0.8,
	playerFlashMP4: 'http://www.clw.com.ua/{{ STATIC_URL }}StrobeMediaPlayback.swf',
	playerFlashMP3: 'http://www.clw.com.ua/{{ STATIC_URL }}StrobeMediaPlayback.swf'
    });
});


</script>
    <script language="JavaScript">
  flowplayer("player", "{{ STATIC_URL }}flowplayer-3.2.7.swf");
</script>
{% endblock %}

</body>
</html>