<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>wit-cloud</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles_index.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/person_card.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/presets.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/media_queries_card.css">
</head>
<body>
	<div class="wrapper-1000">
		<header>
			<div class="top-header">
				<a href="#main">

                     <i style="
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;padding-left:250px;


">По всем техническим вопросам пишите на почту ponyaid@gmail.com</i>
				</a>
				<div class="propagation">
							<p class="user-name-h">{{ user_fullname }}</p>
							<i class="user-h non-active-h"></i>
				</div>
			</div>
			<div class="bot-header-index">
				<ul class="drop-down">
					<li>
						<a href="{% url 'index' %}">Личный Кабинет</a>
					</li>					
					<li>
						<a href="{% url 'profile_settings' %}">Настройка Профиля</a>
					</li>
					<li>
						<a href="{% url 'logout' %}">Выйти</a>
					</li>
				</ul>
				<div class="head-content">
					<div class="title-bh">Облако Свидетелей</div>
					<div class="tr-bh"></div>
				</div>	
			</div>
		</header>
		<div class="some-forms">
			<div class="header-sf">Настройка Профиля</div>
			<div class="body-sf">
				<p class="room">Личный кабинет</p>
				<div class="form-container">
					<form id="photo-block" action="post.php" method="post" class="photo-block">
						<div class="photo-b"></div>
						<input type="file" class="file-inp" accept="image/*">
						<div class="block"></div>
						<div class="submit-pt s-pb">Применить</div>
					</form>
					<form action="" method="post" class="user-form uf-1">{% csrf_token %}
						<table class="person-table a" cellspacing="0 20">
							<tr>
								<td>Имя:</td>
								<td>
									<input type="text" name="first_name" value="{{ first_name }}">
								</td>
							</tr>
							<tr>
								<td>Фамилия:</td>
								<td>
									<input type="text" name="last_name" value="{{ last_name }}">
								</td>
							</tr>
							<tr>
								<td>Отчество:</td>
								<td>
									<input type="text" name="father_name" value="{{ father_name }}">
								</td>
							</tr>
							<tr>
								<td>Город:</td>
								<td>
									<input type="text" name="city" value="{{ city }}">
								</td>
							</tr>
							<tr>
								<td>E-mail:</td>
								<td>
									<input type="text" name="email" value="{{ email }}">
									<div class="block"></div>
								</td>
							</tr>
							<tr>
								<td>Телефон:</td>
								<td>
									<input type="text" name="phone_number" value="{{ phone_number }}">
									<div class="block"></div>
                                    <input type="submit" class="submit-pt s-uf-1" value="Сохранить">
									<!--<div class="submit-pt s-uf-1">Сохранить</div>-->
								</td>
							</tr>
						</table>
					</form>
					<form action="post.php" method="post" class="user-form uf-2">
						<table class="person-table b" cellspacing="0 20">
							<tr>
								<td>Старый пароль:</td>
								<td>
									<input type="password">
								</td>
							</tr>
							<tr>
								<td>Новый пароль:</td>
								<td>
									<input type="password">
								</td>
							</tr>
							<tr>
								<td>Повторить пароль:</td>
								<td>
									<input type="password">
									<div class="block"></div>
									<div class="submit-pt s-uf-2">Изменить пароль</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
		<div class="footer">copyright &copy 1998-2013 test.org.ua. Все права защищены</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/card.js"></script>
		<script type="text/javascript">

     (function ($) {
         $.support.placeholder = ('placeholder' in document.createElement('input'));
     })(jQuery);


     //fix for IE7 and IE8
     $(function () {
         if (!$.support.placeholder) {
             $("[placeholder]").focus(function () {
                 if ($(this).val() == $(this).attr("placeholder")) $(this).val("");
             }).blur(function () {
                 if ($(this).val() == "") $(this).val($(this).attr("placeholder"));
             }).blur();

             $("[placeholder]").parents("form").submit(function () {
                 $(this).find('[placeholder]').each(function() {
                     if ($(this).val() == $(this).attr("placeholder")) {
                         $(this).val("");
                     }
                 });
             });
         }
     });
 </script>	
</body>
</html>