<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>private</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/styles_index.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/presets.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/private.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jscrollpane.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/media_queries_private.css">
    <script src="{{ STATIC_URL }}flowplayer-3.2.6.min.js"></script>
    <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper-1000">
		<header>
			<div class="top-header">
				<a href="#main">
					<i class="logo-h"></i>
				</a>
				<div class="propagation">
							<p class="user-name-h">{{ user_fullname }}</p>
							<i class="user-h non-active-h"></i>
				</div>
			</div>
			<div class="bot-header-index">
				<ul class="drop-down">
					<li>
						<a href="{% url 'index' %}">Личный Кабинет</a>
					</li>					
					<li>
						<a href="{% url 'profile_settings' %}">Настройка Профиля</a>
					</li>
					<li>
						<a href="{% url 'logout' %}">Выйти</a>
					</li>
				</ul>
				<div class="head-content">
					<div class="title-bh">Облако Свидетелей</div>
					<div class="tr-bh"></div>
				</div>
			</div>
		</header>
		<div class="videos">
			<a href="{% url 'index' %}" class="to-pc">Личный кабинет</a>
			<div class="video-block">
				<div class="videos-container" style="width: 640px;height: 480px;">
                   <!-- <embed type="application/x-shockwave-flash" wmode="transparent" src="{{ STATIC_URL }}StreamPlayer.swf" width="495" height="280" allowfullscreen="true" flashvars="file=kiev-video-low&streamer=rtmp://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high/&autostart=true&stretching=fill"></embed>-->

				<!--	<video controls="controls" autoplay="autoplay">
						 <source src="rtmp://stream.smcloud.net/live2/best/best_720p">
					</video>-->
                    <script language="javascript" src="http://cdn.ua/code/vo.org.ua/live/?stream=cloud_secure_high"></script>
               <!--     <div id="ccc" class="flowplayer">
  <video>
					 <source src="rtmp://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high" type='rtmp/webm' />
					<source src="http://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high/playlist.m3u8" type='rtmp/mp4' />
					<source src="rtsp://rtsp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high" type='rtsp/mp4' />
  </video>
</div>-->
                 <!--   <video id="example_video_1" class="video-js vjs-default-skin"
					  controls preload="auto" width="640" height="264"
					  data-setup='{"example_option":true}'>
					 <!--<source src="rtmp://stream.smcloud.net/live2/best/best_720p" type='rtmp/mp4' />-->
			<!--		 <source src="rtmp://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high" type='rtmp/webm' />
					<source src="http://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high/playlist.m3u8" type='rtmp/mp4' />
					<source src="rtsp://rtsp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high" type='rtsp/mp4' />

                        <source src="rtmp://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_low" type='rtmp/mp4' />
					<source src="http://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_low/playlist.m3u8" type='rtmp/mp4' />
					<source src="rtsp://rtsp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_low" type='rtsp/mp4' />

					<source src="rtmp://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_audio" type='rtmp/mp4' />
					<source src="http://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_audio/playlist.m3u8" type='rtmp/mp4' />
					<source src="rtsp://rtsp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_audio" type='rtsp/mp4' />
					<!-- <source src="rtmp://stream.smcloud.net/live2/best/best_720p" type='video/webm' />
					 <source src="rtmp://stream.smcloud.net/live2/best/best_720p" type='video/ogg' />-->
				<!--	 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video>-->
				</div>
				<div class="date-vb">
					Cейчас смотрят: 
					<span>274</span>
				</div>
			</div>
			<div class="right-bar">
				<div class="chat">
					<div class="header-ct">Чат</div>
					<div class="body-ct">
						<div id="sp-2">
							<div class="users-messages-ct">

								<div class="msg-ct">
									<div class="nickname-ct">foo_bar</div>
									<div class="date-ct">2 Апреля в 13:28</div>
									<div class="msg-cont-ct">Это сообщение, которое будет отображаться в окне чата.</div>
								</div>
							</div>
						</div>
						<textarea name="" id="" placeholder="Нажмите кнопку 'Отправить' или Enter, чтобы отправить сообщение" class="inp-ct"></textarea>
						<div class="send-ct">Отправить</div>
					</div>
				</div>
			</div>
		</div>
		<div class="call-back">
			<p class="header-c">Здесь Вы можете оставить свою нужду или запрос</p>
			<div class="body-c">
				<form action="post.php" method="post" class="form-c">
					<textarea name="" id="" placeholder="Введите сюда текст..." class="textarea-c"></textarea>
					<div class="checkboxes-c">
						<div class="inp-wrap-cs">
							<input id="lessons-r" type="radio" name="#">
							<label for="lessons-r">Вопрос по урокам</label>
						</div>
						<div class="inp-wrap-cs">
							<input id="need-r" type="radio" name="#">
							<label for="need-r">Нужда</label>
						</div>
						<div class="inp-wrap-cs">
							<input id="thanks-r" type="radio" name="#">
							<label for="thanks-r">Благодарение</label>
						</div>
						<div class="inp-wrap-cs">
							<input id="wit-r" type="radio" name="#">
							<label for="wit-r">Свидетельства</label>
						</div>
						<div class="button b-cb">Отправить</div>
					</div>
				</form>
			</div>
		</div>
		<div class="contacts margin-top-10px">
			<p class="info-c">Подробную информацию о саммите вы можете узнать по телефону</p>
			<div class="p-numbers">
				<div class="number-c">
					<div class="icon-p"></div>
					+38 097 286 10 29
				</div>
				<div class="number-c">
					<div class="icon-p"></div>
					+38 097 286 10 29
				</div>
				<div class="number-c">
					<div class="icon-p"></div>
					+38 097 286 10 29
				</div>
				<div class="number-c">
					<div class="icon-p"></div>
					+38 097 286 10 29
				</div>
				<div class="number-c">
					<div class="icon-p"></div>
					+38 097 286 10 29
				</div>
			</div>
			<p class="info-c">Или отправив нам сообщение по e-mail</p>
			<p class="mail">4izmerenie.sammit2015@gmail.com
</p>
		</div>
		<div class="footer">copyright &copy 1998-2013 test.org.ua. Все права защищены</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/private.js"></script>
    <script src="//vjs.zencdn.net/4.12/video.js"></script>
    <script>
    var
            players	= {
                pc	: {
                    prefix	: '<iframe frameborder="0" wmode="transparent" scrolling="no" style="width:495px;height:280px;border:none;" src="http://cdn.ua/code/vo.org.ua/live/index.php?stream=',
                    suffix	: '&width=495&height=280&image=http%3A%2F%2Fstat.vo.org.ua%2Fimages%2FonlinePlayer.jpg&autoplay=1&stage=3"></iframe>'
                },
                apple	: {
                    prefix	: '<video wmode="transparent" src="http://rtmp.cdn.ua/vo.org.ua_live/_definst_/',
                    suffix	: '/playlist.m3u8" width="495" height="280" controls></video>'
                },
                android	: {
                    prefix	: '<video wmode="transparent" src="rtsp://rtsp.cdn.ua/vo.org.ua_live/_definst_/',
                    suffix	: '" height="280" width="495" controls>'
                }
            },
	    	satellite   = 'hotbird',
            language	= 'ru',
            quality	= 'high',
            languageControl, satelliteControl, qualityControl, player, languageRu, languageEn;

    $(document).ready(function(){
		languageRu	    = $('#languageRu');
		languageEn	    = $('#languageEn');
		satelliteControl    = $('#satellite');
        qualityControl	    = $('#qualityControl');
        player		    = $('#playerEmbed');

        qualityControl.val(quality);

		languageRu.on('click', function(){languageRu.addClass('active');languageEn.removeClass('active');changeLanguage('ru');});
		languageEn.on('click', function(){languageEn.addClass('active');languageRu.removeClass('active');changeLanguage('en');});

		satelliteControl.on('change', changeSatellite);
        qualityControl.on('change', changeQuality);

        makeCode();
    });
    function changeLanguage(lang){
        language    = lang;

        makeCode();
    }
    function changeQuality(){
        quality = qualityControl.val();

        makeCode();
    }
    function changeSatellite() {
		satellite = satelliteControl.val();

		makeCode();
    }

    function makeCode(){
		if (language != 'en')
			var thread = 'online-' + language + '-' + satellite + '-' + quality;
		else
			var thread = 'online-' + language + '-' + quality;
                 var playerHtml;

	var mobile	= false;
        if(navigator.userAgent.match(/(iPhone|iPod|iPad)/i)){
            playerHtml = players.apple.prefix + thread + players.apple.suffix;
            mobile	= true;
        } else if (navigator.userAgent.match(/(android)/i)){
            playerHtml = players.android.prefix + thread + players.android.suffix;
            mobile	= true;
        } else {
            playerHtml = players.pc.prefix + thread + players.pc.suffix;
        }

	if (!mobile && !isFlash()) {
            player.html('<a href="http://get.adobe.com/ru/flashplayer/"><img src="http://stat.vo.org.ua/images/flash.jpg" alt=""/></a>');
            return;
        } else
            player.html(playerHtml);
    }
    function isFlash() {
        if (navigator.plugins) {
            if (navigator.plugins["Shockwave Flash"])
                return true;
            else if (navigator.plugins["Shockwave Flash 2.0"])
                return true;
        } else if (navigator.mimeTypes) {
            var x = navigator.mimeTypes['application/x-shockwave-flash'];
            if (x && x.enabledPlugin)
                return true;
        } else
            return true;
        return false;
    }
</script>

		<script type="text/javascript">

     (function ($) {
         $.support.placeholder = ('placeholder' in document.createElement('input'));
     })(jQuery);


     //fix for IE7 and IE8
     $(function () {
         if (!$.support.placeholder) {
             $("[placeholder]").focus(function () {
                 if ($(this).val() == $(this).attr("placeholder")) $(this).val("");
             }).blur(function () {
                 if ($(this).val() == "") $(this).val($(this).attr("placeholder"));
             }).blur();

             $("[placeholder]").parents("form").submit(function () {
                 $(this).find('[placeholder]').each(function() {
                     if ($(this).val() == $(this).attr("placeholder")) {
                         $(this).val("");
                     }
                 });
             });
         }
     });
 </script>
<script language="JavaScript">
  flowplayer("player", "{{ STATIC_URL }}flowplayer-3.2.7.swf");

 // global configuration
flowplayer.conf = {
  splash: true,
  qualities: "288p,480p,576p",
  defaultQuality: "480p",
  rtmp: "rtmp://rtmp.cdn.ua/vo.org.ua_live/_definst_/cloud_secure_high"
};
</script>
</body>
</html>